<%= form_for @points, url: {action: "create"}, :html => { :multipart => true } do |f| %>
	<%= file_field_tag "file[]", type: :file, multiple: true %>
	<a id="browse" class="btn btn-dark btn-lg btn-upload">Upload</a>
<% end %>