<%= javascript_include_tag 'creat_take_view/index', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'creat_take_view.css', media: 'all', 'data-turbolinks-track' => true %>
<h1>LAT : <%=@latitude%></h1>
<h1>LONG : <%=@longitude%></h1>