<%= javascript_include_tag 'creat_take_view/index', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'creat_take_view.css', media: 'all', 'data-turbolinks-track' => true %>
<div class="container">
	<div class="box-center-responsive">
		<%= render :partial => "form.html" %>
	</div>
</div>