<%= javascript_include_tag 'creat_take_view/route', 'data-turbolinks-track' => true %>
<div class="nav">
	<a class="nav-next" id="nav-next"></a> 
	<a href="/delete" class="nav-delete"></a>
</div>
<div class="container">
	<div class="container-body">
		<div class="box-center-responsive">
			<%= render :partial => "form_route.html" %>
		</div>
	</div>
</div>

