<div class="nav">
	<a href="/new"class="nav-next" id="nav-next"></a>
	<a class="nav-delete-none"></a> 
	<div class="nav-title"><p>SHARE</p></div>
</div>
<div class="container">
	<div class="container-body">
		<div class="box-center-responsive">
			<div class="shared faceboock"></div>
			<div class="shared twitter"></div>
			<div class="shared tumblr"></div>
			<div class="shared foursquare"></div>
		</div>
	</div>
</div>
