# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f0809ff62001db23388ca42a86ebb0fb30b031d493e1b0cc00286897f4376083d13251ca80d47e5830f0028b0107bf97a2c17bd9b9d70138cbc73ea0dfec7824

test:
  secret_key_base: 210b54d45c61b8a4290df1b0af6d33606d4a4b9a3588fcde47730f61e9ea5f8835c1f2c257118116f5706b603795b0481ff6baf0c32b68c8527c2f0ba75103fe

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
