// Place all the styles related to the creat_takeView controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
	
}
.box-center-responsive {
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.box-center-responsive .box-center-responsive-heading,
.box-center-responsive .box-center-responsive-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.box-center-responsive .box-center-responsive-control:focus {
  z-index: 2;
}
