// Place all the styles related to the view_take_view controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box-center-responsive-slide {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 800px;
    height: 100%;
    // border: 1px solid red;
    padding:32px;
}
.loading{
	position: absolute; 
	top: 0px; left: 0px;
}
.loading-1{
	filter: alpha(opacity=70); 
	opacity:0.7; 
	position: absolute; 
	display: block;
    background-color: #000000; 
    top: 0px; left: 0px;
    width: 100%;
    height:100%;
}
.loading-image{
	position: absolute; 
	display: block; 
	background: url(loading.gif) no-repeat center center;
    top: 0px; left: 0px;
    width: 100%;
    height:100%;
}
.arrowleft{
	width: 40px; 
    height: 40px; 
    top: 158px; left: 8px;
}
.thumbnailtemplate{
    width: 100%; 
    height: 100%; 
    border: none;
    position:absolute; 
    top: 0; 
    left: 0;
}
.slide-container{
    cursor: move; 
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;   
    width: 500px; 
    height: 400px; 
    box-shadow: 10px 10px 5px #555555;
    overflow: hidden;
}
/* jssor slider arrow navigator skin 05 css */
/*
.jssora05l              (normal)
.jssora05r              (normal)
.jssora05l:hover        (normal mouseover)
.jssora05r:hover        (normal mouseover)
.jssora05ldn            (mousedown)
.jssora05rdn            (mousedown)
*/
.jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn
{
	position: absolute;
	cursor: pointer;
	display: block;
    background: url(a17.png) no-repeat;
    overflow:hidden;
}
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05ldn { background-position: -250px -40px; }
.jssora05rdn { background-position: -310px -40px; }
/* jssor slider thumbnail navigator skin 01 css */
/*

.jssort01 .p           (normal)
.jssort01 .p:hover     (normal mouseover)
.jssort01 .pav           (active)
.jssort01 .pav:hover     (active mouseover)
.jssort01 .pdn           (mousedown)
*/
.jssort01{
    position: absolute; 
    width: 800px; 
    height: 80px; 
    left:0px; bottom: 0px;
    background: #191919;
}
.jssort01 .w {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

}

.jssort01 .c {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    border: #000 2px solid;
}

.jssort01 .p:hover .c, .jssort01 .pav:hover .c, .jssort01 .pav .c {
    background: url(t01.png) center center;
    border-width: 0px;
    top: 2px;
    left: 2px;
    width: 72px;
    height: 72px;
}

.jssort01 .p:hover .c, .jssort01 .pav:hover .c {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    border: #fff 1px solid;
}

//************MAPS*************//

.container-map{
  display: inline-block;
  width:100%;
  height:100%;
  float: right;
  position: absolute;
}
#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
}
#mini-map{
  position:absolute;
  top:450px;
  left: 30px;
  height:200px;
  width:300px;
  transition: width 0.5s, height 0.5s, transform 0.5s;
}


